@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

$dark: #171717;
$dark-hover: #373737;
$gray: #666666;
$light-gray: #c9c9c9;
$white: #fff;

$primary-fonts: 'Open Sans', sans-serif;
$small-font-size: 11px;
$regular-font-size: 14px;
$large-font-size: 16px;

$primary-border-radius: 4px;

$button-transition: all 300ms ease-in-out;
