<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | <%= brandName %></title>
  </head>

  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="container d-flex flex-column gap-3 align-items-center justify-content-center">
        <profile-image imageUrl="image/profile-image.png"></profile-image>
        <h1 class="fw-bold fs-3">Rachmat Syahputra</h1>
        <profile-description></profile-description>
      </div>
    </main>

    <footer>
      <footer-app></footer-app>
    </footer>
  </body>
</html>
