<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>

  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WeStory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="story-list" id="storyList">
      <div class="card">
        <div class="card-image">
          <img src="https://picsum.photos/1200/700?random=1" alt="">
        </div>
        <div class="card-body">
          <h4 class="user-name">Faisal Sulaiman</h4>
          <p class="description">In rhoncus lorem nec ex egestas mollis vel a mauris. Pellentesque vel diam at neque
            hendrerit bibendum. Quisque egestas, dolor eu semper dapibus, turpis neque.</p>
          <span class="date">Minggu, 7 Juli 2024</span>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://picsum.photos/1200/700?random=2" alt="">
        </div>
        <div class="card-body">
          <h4 class="user-name">Alya Jamaluddin</h4>
          <p class="description">In a pretium sem. Suspendisse eget sollicitudin enim, sed suscipit mi. Integer
            sagittis
            lorem urna, tincidunt viverra lectus gravida id. Praesent venenatis nibh ac nisi.</p>
          <span class="date">Minggu, 7 Juli 2024</span>
        </div>
      </div>
    </div>
  </main>


</body>

</html>