<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | <%= brandName %>
  </title>
</head>

<body>
  <main>
    <div class="container d-flex flex-column gap-4">
      <h1 class="fs-4 fw-bold mb-4 text-center">Login</h1>

      <form class="row g-4 mx-auto" id="loginForm" style="max-width: 400px;" novalidate>
        <div class="col-12">
          <label for="validationEmail" class="form-label">Email</label>
          <input-with-validation type="email" inputId="validationEmail"
            invalidFeedbackMessage="Email must be a valid email" required></input-with-validation>
        </div>
        <div class="col-12">
          <label for="validationPassword" class="form-label">Password</label>
          <password-input-with-validation class="position-relative" inputId="validationPassword"
            invalidFeedbackMessage="Password must be at least 8 characters" minLength="8"
            required></password-input-with-validation>
        </div>

        <div class="col-12 text-center text-danger" id="validationFeedback">
        </div>

        <div class="col-12 d-flex gap-3 justify-content-end align-items-center">
          <loading-spinner-btn class="w-100" style="display: none;"></loading-spinner-btn>
          <button class="btn btn-dark w-100" type="submit" id="loginBtn">
            Login
          </button>
        </div>
      </form>

      <div class=" text-center">
        Don't have an account yet? <a class="text-primary" href="/auth/register.html">Register</a>
      </div>
    </div>
  </main>

  <footer>
    <footer-app></footer-app>
  </footer>
</body>

</html>