<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | <%= brandName %>
  </title>
</head>

<body>
  <header>
    <nav-app brandName="<%= brandName %>"></nav-app>
  </header>

  <main>
    <div class="container">
      <h1 class="fs-4 fw-bold mb-4 text-center">Register</h1>
      <form class="row g-4" id="registerForm" novalidate>
        <div class="col-12">
          <label for="validationName" class="form-label">Name</label>
          <input-with-validation type="text" inputId="validationName" invalidFeedbackMessage="This field is required"
            required></input-with-validation>
        </div>
        <div class="col-12">
          <label for="validationEmail" class="form-label">Email</label>
          <input-with-validation type="email" inputId="validationEmail" invalidFeedbackMessage="This field is required"
            required></input-with-validation>
        </div>
        <div class="col-12">
          <label for="validationPassword" class="form-label">Password</label>
          <input-with-validation type="password" inputId="validationPassword"
            invalidFeedbackMessage="This field is required" required></input-with-validation>
        </div>
        <div class="col-12 d-flex gap-3 justify-content-end align-items-center">
          <loading-spinner style="display: none"></loading-spinner>
          <button class="btn btn-dark" type="submit" id="registerBtn">
            Register
          </button>
        </div>
      </form>
    </div>
  </main>

  <footer>
    <footer-app></footer-app>
  </footer>
</body>

</html>